.rate{
  background-color: hsl(213, 9%, 23%);
  padding: 5px 10px;
  margin: 20px 0;
  color: $primary-color;
  font-size: .8rem;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.modal{
  display: none;
  flex-direction: column;
  align-items: center;

  h2{
    color: $white;
    margin-bottom: 20px;

  }

  .thanks{
    text-align: center;
    color: $Medium-Grey;
    font-size: .9rem;
  }
}

